<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Hostmail" value="test@test.com"/>  
        <add key="Password" value="MailPassword"/>
        <add key="Username" value="John Smith"/>
        <add key="Smtp" value="smtp.test.com"/>
        <add key="Port" value="587"/>
    </appSettings>
</configuration>